<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LIST DATA KARYAWAN</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
  </head>
  <body style="background: slategrey;">
    <div class="container mt-2">
      <div class="row">
        <div class="col-md-12">
          <% if (messages.success) { %>
          <div class="alert alert-success" role="alert">
            <%- messages.success %>
          </div>
          <% } %> <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert">
            <%- messages.error %>
          </div>
          <% } %>

          <div class="card border-0 shadow rounded">
            <div class="card-body">
              <h1 style="text-align: center; margin-bottom: 3rem;">LIST KARYAWAN</h1>
              <a href="posts/create" class="btn btn-md btn-success mb-3"
                >TAMBAH KARYAWAN</a
              >
              <table class="table table-bordered">
                <thead>
                  <tr style="text-align: center;">
                    <th scope="col">No</th>
                    <th scope="col">Nama Lengkap</th>
                    <th scope="col">Job Desc</th>
                    <th scope="col">Umur</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
                  <tr>
                    <th scope="row" class="text-center"><%= (i+1) %></th>
                    <td><%= data[i].title%></td>
                    <td><%= data[i].content%></td>
                    <td class="text-center">
                      <a
                        href="/posts/edit/<%=data[i].id%>"
                        class="btn btn-sm btn-primary"
                        >EDIT</a
                      >
                      <a
                        onclick="return alert('Apakah anda yakin?')"
                        href="/posts/delete/<%=data[i].id%>"
                        class="btn btn-sm btn-danger"
                        >HAPUS</a
                      >
                    </td>
                  </tr>
                  <% } }else{ %>
                  <tr>
                    <td colspan="4">
                     
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
